body {
	background-color: white;
}

body *::selection {
  background-color:rgba(0, 0, 0, 0.99);
  color:#FFF;
}

body *::-moz-selection {
  background-color:rgba(0, 0, 0, 0.99);
  color:#FFF;
}

/* C R O S S  D E L E T  I M A G E */

li span, li span:link, li span:visited {
	cursor: pointer;
	position:absolute;
	top:1%;
	margin-left:3%;
	text-decoration:none;
	font-size: 30px;
	color:white;
	display: none;
}

li:hover span {
	display: block;
}

li span:hover {
 transform: rotate(350deg);
  -webkit-transform: rotate(350deg);
}

li {
	height:auto;
	width:auto;
	list-style-type: none;
	position:absolute;
	cursor:move;
	visibility:hidden;
}

/*li a {
	position:absolute;
    bottom:5px;
    right:5px;
    background:black;
    color:#FFF;
}*/

@media print{
	@page {
		size: landscape;
		writing-mode : tb-rl;
	}

	.dropdown, .menu, .feuille {
		display:none !important;
	}

	.images li span{
		display:none;
	}
}

@media (max-width: 1280px) {
	.images img {
		width: 300px;
	}
	#img332x500{
		width: 200px;
	}
}
