body {
  width: 100%;
  height:100%;
  margin:0px;
  background-color: black;
}

/* T I T R E */

#titre {
  /*border:solid 1px red;*/
  width: 100%;
  height:100%;
  margin-top: 1.5%;
  font-size: 100px;
  line-height: 150px;
  color: white;
  transform: rotate(-8deg) skew(-8deg, 0);
  -webkit-transform: rotate(-8deg) skew(-8deg, 0);
}

#titre a, a:link {
  color:white;
  text-decoration: none;
  font-family: arial;
}

#titre a:hover {
  text-decoration: underline;
}

#t1 {
  margin-left: 100px;
}

#t2 {
  margin-left: 400px;
}

#t3 {
  margin-left: 200px;
}

#t4 {
  margin-left: 500px;
}

/* C A D R E  M E N U */

.cadre-menu {
  border:solid 10px black;
  z-index:2;
  width: 700px;
  height: 450px;
  background-color: white;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: fixed;
  overflow: scroll;
  visibility: hidden;
}

.cadre-menu p{
  font-family: 'Heebo', sans-serif;
  color:black;
  font-size: 22px; 
  padding-left: 4%;
  padding-right: 4%;
}

.cadre-menu a {
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 22px;
  color:black;
}

.cadre-menu a:hover {
  font-style: italic;
}
