body {
  width: 100%;
  height:100%;
  margin:0px;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: '../font/bespoke43np9uelc8';
  src: url('../font/bespoke-2-webfont.woff2') format('woff2'),
       url('../font/bespoke-2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* T I T R E */

#titre {
  width: 100%;
  height:100%;
  margin-top: 7%;
  font-family: '../font/bespoke43np9uelc8';
  font-size: 7em;
  line-height: 200px;
  color: white;

  transform: rotate(-8deg) skew(-8deg, 0);
  -webkit-transform: rotate(-8deg) skew(-8deg, 0);

  position: absolute;
  display: block;
}

#titre a, a:link {
  color:white;
  text-decoration: none;
}

#titre a:hover {

}

#t1 {
  margin-left: 25%;
}

#t2 {
  margin-left: 40%;
}

#t3 {
  margin-left: 15%;
}

#t4 {
  margin-left: 35%;
}



@media (max-width: 1280px) {

#titre {
  margin-top: 6%;
  font-size: 5em;
  line-height: 130px;
}
}



