#v0{
  position: fixed ;
  top: 0  ;
  left: 0  ;
  width: 100%;
}

#set-height {
  display: block;
}

/* M E N U  B A S */

.menu {
  border:solid 1px red;
  z-index: 2;
  bottom: 1%;
  left:1%;
  position: fixed;
  color: black;
  font-family: 'Heebo', sans-serif;
}

.menu a {
  color: black;
  font-size: 12px;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}






/*.content {
  opacity:0;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 99;
  display: block;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(0%);
  transition: 0.7s ease-in-out all;
}

.content.active {
  opacity: 1;
  transform: translateY(-100%);
} */