body {
  width: 100%;
  height:100%;
  margin:0px;
  overflow: hidden;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *::selection {
  background-color:rgba(0, 0, 0, 0.99);
  color:#FFF;
}

body *::-moz-selection {
  background-color:rgba(0, 0, 0, 0.99);
  color:#FFF;
}

@font-face {
  font-family: '../font/bespoke43np9uelc8';
  src: url('../font/bespoke-2-webfont.woff2') format('woff2'),
       url('../font/bespoke-2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* T I T R E */

#titre {
  width: 100%;
  height:100%;
  margin-top: 6%;
  font-family: '../font/bespoke43np9uelc8';
  font-size: 7em;
  line-height: 200px;
  color: white;

  transform: rotate(-8deg) skew(-8deg, 0);
  -webkit-transform: rotate(-8deg) skew(-8deg, 0);

  position: absolute;
  display: block;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#titre a, a:link {
  color:white;
  text-decoration: none;
}

#titre a:hover {

}

#t1 {
  margin-left: 25%;
  animation: rot 4s infinite linear;
}

#t2 {
  margin-left: 40%;
  animation: rot 5s infinite linear;
}

#t3 {
  margin-left: 15%;
  animation: rot 6s infinite linear;
}

#t4 {
  margin-left: 35%;
  animation: rot 7s infinite linear;
}

@keyframes rot {
  from {
    transform: rotate(0deg)
               translate(-10px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-10px) 
               rotate(-360deg);
  }
}

@media (max-width: 1280px) {

  #titre {
    margin-top: 6%;
    font-size: 5em;
    line-height: 130px;
  }
}



