body {
  width: 100%;
  height:100%;
  margin:0px;
  list-style-type: none;
}

body *::selection {
  background-color:rgba(0, 0, 0, 0.99);
  color:#FFF;
}
body *::-moz-selection {
  background-color:rgba(0, 0, 0, 0.99);
  color:#FFF;
}

@font-face {
  font-family: '../font/bespoke43np9uelc8';
  src: url('../font/bespoke-2-webfont.woff2') format('woff2'),
       url('../font/bespoke-2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* M E N U  D É R O U L A N T */

.dropdown {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 1%;
  z-index: 100;
  top: 1%;
  left:1%;
  height: 30px;
  position: fixed;
  display: inline;
  font-family: '../font/bespoke43np9uelc8';
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    margin-top: -10px;
}

.dropdown:hover .dropdown-content {
    display:inline;
}

.dropdown a, .dropdown a:link {
  display: inline;
  margin-left: 10px;
  color:black;
  text-decoration: none;
}

.dropdown a:hover {
  font-style: italic;
}

#white a{
    color:white;
}


/* C A D R E  M E N U  P A R C O U R I R */

.menu {
  z-index:101;
  width: 50%;
  height: 70%;
  background-color: white;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: fixed;
  overflow: scroll;
  display:none;
}

/* P L A C E M E N T  L I E N S  M E N U */


#r1 {
  margin-left: 43%;
}

#r2 {
  margin-left: 35%;
}

#r3 {
  margin-left: 15%;
}

#r4 {
  margin-left: 40%;
}

#r5 {
  margin-left: 35%;
}
#r6 {
  margin-left: 25%;
}
#r7 {
  margin-left: 15%;
}
#r8 {
  margin-left: 25%;
}

/* C O N T E N U  M E N U  P A R C O U R I R */

.contenu-menu {
  width: 94%;
  height: auto;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  font-family: '../font/bespoke43np9uelc8';
  line-height: auto;
  font-size: 20px;
}

.contenu-menu a:link, .contenu-menu a:visited {
  text-decoration: none;
  color: black;
}

.contenu-menu a:hover {
  font-style: italic;
  color: black;
}

/* C R É D I T  M E N U  P A R C O U R I R */

p.credit, a.credit {
font-family: '../font/bespoke43np9uelc8';
font-size: 12px;
text-align: center;
color:black;
}

/* L I E N S  S A L L E S  M E N U  P A R C O U R I R */

p.rooms {
  margin-top: 3%;
  font-size: 50px;
  line-height: 60px;
  color: black;
}

/* F E U I L L E  D E  S A L L E */

.feuille {
  z-index:1000;
  width: 30%;
  height: 70%;
  background-color: white;
  top: 50%;
  left:20%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  position: fixed;
  overflow: scroll;
  display:none;
}

#titre-feuille {
  font-size: 20px;
}

.feuille p {
  font-family: '../font/bespoke43np9uelc8';
  font-size: 12px;
  padding-left: 4%;
  padding-right: 4%;
}

.feuille a, a:link, a:visited {
  text-decoration: none;
  color:black;
}

.feuille a:hover {
  font-style: italic;
}

/* R E S P O N S I V E */

@media (max-width: 1280px) {
.menu {
  width: 55%;
  height: 70%;
}

.contenu-menu {
  font-size: 15px;
}

p.credit, a.credit {
  font-size: 11px;
}

p.rooms {
  font-size: 40px;
  line-height: 50px;
}

.feuille {
  width: 27%;
  height: 70%;
  background-color: white;
  top: 50%;
  left:23%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  position: fixed;
  overflow: scroll;
  display:none;
  }
}




