body {
  width: 100%;
  height:100%;
  margin:0px;
}

@font-face {
  font-family: '../font/bespoke43np9uelc8';
  src: url('../font/bespoke-2-webfont.woff2') format('woff2'),
       url('../font/bespoke-2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* M E N U */

.dropdown {
  z-index: 100;
  top: 2%;
  left:1%;
  position: fixed;
  display: inline;
  font-family: '../font/bespoke43np9uelc8';
  font-size: 11px;
  text-decoration: none;
  list-style: none;
}

.dropdown-content {
    display: none;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display:inline;
}

.dropdown a, .dropdown a:link {
  display: inline;
  margin-left: 10px;
  color:black;
  text-decoration: none;
}

.dropdown a:hover {
  text-decoration: underline;
}

#white a{
    color:white;
}

/* C A D R E  M E N U */

.menu {
  /*border:solid 10px black;*/
  z-index:101;
  width: 700px;
  height: 450px;
  background-color: white;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: fixed;
  overflow: scroll;
  display:none;
  padding:1%;
}

.menu a {
  font-family: '../font/bespoke43np9uelc8';
  color:black;
  font-size: 50px;
  margin-right: 10px;
}
.menu a:link {
    text-decoration: none;
  }

.menu a:hover {
  font-style: italic;
}

/* F E U I L L E  D E  S A L L E */

.feuille {
  z-index:1000;
  width: 350px;
  height: 450px;
  background-color: white;
  top: 50%;
  left:22.5%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  position: fixed;
  overflow: scroll;
  display:none;
}

.feuille p {
  font-family: 'Heebo', sans-serif;
  color:black;
  font-size: 14px; 
  padding-left: 4%;
  padding-right: 4%;
}

.feuille a {
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 14px;
  color:black;
}

.feuille a:hover {
  font-style: italic;
}


/* ancien code */

/*.footer {
  /*border:solid 1px red;*/
  /*z-index: 2;
  top: 2%;
  left:1%;
  position: fixed;
  font-family: 'Heebo', sans-serif;
  user-select: none;
}

.blk {
  color: black;
}

.blk a {
  color: black;
}

.wht {
  color: white;
}

.wht a {
  color: white;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer span {
  margin-left: 10px;
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
}*/
