body {
	background-color: white;
	width: 100%;
	height:100%;
}

.images {
	margin-top: 55px;
	margin-left: 3%;
}

.images img {
	margin-right: 10px;
	margin-bottom: 10px;
}

.header {
	top:0%;
	left:0%;
	position:fixed;
	height:6%;
	width:100%;
	background-color: white;
	z-index:2;
}

.header span{
	position:absolute;
	display:none;
	top:40%;
  	right:3%;
  	text-align: right;
	font-family: '../font/bespoke43np9uelc8';
	font-size: 12px;
}
